<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			</div><!-- /.container -->
			<div class="container">
				<footer>
					<div class="svg-icons">
				{% include icons.html %}
				<a href="mailto:timhsu1994@gmail.com"><i class="icon-envelope icon-2x"></i></a>
				<a href="https://github.com/timatim"><i class="icon-github icon-2x"></i></a>
				<a href="https://www.linkedin.com/in/tim-hsu-51765066/"><i class="icon-linkedin-sign icon-2x"></i></a>
					</div>
				</footer>
			</div>
		{% include analytics.html %}
		</body>
	</html>
